<!--
File : footer.ejs
Name : Rutvik Patel
Student ID : 301302391
Date : 07 Feb 2023
-->
<script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  
</body>
</html>