<!--
File : index.ejs
Name : Rutvik Patel
Student ID : 301302391
Date : 07 Feb 2023
-->

<%-include partials/header.ejs%>
  
<!--Main Nav Navigation-->
<%-include partials/main_nav.ejs%>
<section class="bgimage" id="home">
<div class="fullscreenDiv">
    <div class="container jumbotron jumbotron-fluid">
    <h3 class="display-8" style="color: #ffffff; text-align: center; font-size: 2 rem;"><p>Welcome to my Express Portfolio Site.</p><p style="text-align: center;">My name is Rutvik.</p></h3>
    <div class="container text-light">
    <br>
    <p style="text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 110%; color: white" >
      "My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style.”
    </p>
    <p class="lead">
      <a class="btn btn-lg" href="/login" role="button" style="background-color:  #472D30; color: white; margin-left: 48%;">About Me</a>
    </p>
  </div>
    
  </div>
</div>
</section>
   
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
